<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <import class="ch.qos.logback.core.ConsoleAppender"/>
    <import class="ch.qos.logback.classic.filter.ThresholdFilter"/>

    <!-- Append to STDOUT -->
    <appender name="STDOUT" class="ConsoleAppender">
        <filter class="ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <pattern>%d{MM/dd HH:mm:ss.SSS} %msg%n</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>